@model ProfileB.Models.User

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
        <td>@Model.Password</td>
    </tr>
  </tbody>
    
</table>  
